@model IEnumerable<Deborah_User.User>

<div class="main_contents">
    <h5 class="page_title">ユーザ一覧</h5><br>
        <div class="centering">
            <div class="btn_line" style="padding-bottom:10px;">
                <a asp-controller="User" asp-action="New" class="new_user_btn">
                    <img src="../images/tel.png" width=18px style="margin-right: 3px;">
                    新規追加
                </a>
            </div>
        </div>
    <div class="main" style="width:700px;margin:0 auto;">
        <table class="table table-bordered table-sm table-font">
            <tr class="heading">
                <th style="width:40px;">ID</th>
                <th style="width:110px;">ユーザ名</th>
                <th style="width:80px;">接続状態</th>
                <th style="width:50px;">操作</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr class="table_back" style="text-align:center;">
                    <td>@user.Id</td>
                    <td>@user.User_Name</td>
                    <td>
                        @(user.DisconnectableFlag ? "接続拒否" : "接続許可")
                    </td>
                    <td style="text-align:left;">
                        <a asp-action="" asp-route-id="@user.Id" class="edit_btn">変更</a>
                        @if (user.InquryCount < 1)
                        {
                            <a asp-action="" asp-route-id="@user.Id"  class="copy_btn">削除</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>