@model IEnumerable<Deborah.Models.Tra_Entry>

@if (ViewBag.cnt == 0)
{
    <p>未登録はありません。</p>
}
else
{
    <p>未登録お知らせが@ViewBag.cnt件あります</p>
}
<table class="table table-bordered table-sm table-font" style="text-align:center;">
    <tr class="heading">
        <th>会社名</th>
        <th>担当者名</th>
        <th>電話番号</th>
        <th>着信時間</th>
        <th>終了時間</th>
        <th>選択</th>
    </tr>

    @foreach (var data in ViewBag.entry)
    {
        <tr class="table_back">
            <td>@data.Company_Name</td>
            <td>@data.Tan_Name</td>
            <td>@data.Tel_No</td>
            <td>@data.Entry_Time</td>
            <td>@data.End_Time</td>
            <td><input type="button" value="SELECT" class="select_btn"></td>
        </tr>
    }
</table>