@model IEnumerable<Deborah.Models.Tra_Inqury>

<div class="main_contents">
    <h4 class="page_title">お問合せ一覧</h4>
    <div class="main">
        <div class="btn_line">
            <a asp-controller="Inqury" asp-action="New" class="new_btn">
                <img src="../images/new.png" width=22px style="margin-right: 3px;">
                 新規登録
            </a>
        </div><br>

        <table>
            <tr>
                <th>着信日時</th>
                <th>会社名</th>
                <th>電話番号</th>
                <th>回答者</th>
                <th>質問</th>
                <th>操作</th>
            </tr>
            @foreach (var data in ViewBag.list)
            {
                <tr>
                    <td>@data.Start_Time</td>
                    <td>@data.Company_Name</td>
                    <td>@data.Tel_No</td>
                    <td>@data.User_Name</td>
                    <td>@data.Inqury</td>
                    <td>
                        <input type="button" value="SHOW" class="show_btn">
                        <input type="button" value="EDIT" class="edit_btn">
                        <input type="button" value="COPY" class="copy_btn">
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

