@model IEnumerable<Inqury.Models.MyList>

<div class="main_contents">
    <h5 class="page_title">お問合せ一覧</h5>
    <div class="main">
        <div name="search_form" class="search_area">
            <form method="post" action="/Inqury/Search">
                <input type="text" id="flatpickr" style="width:120px;" name="Start_day" value=@ViewBag.date1>  ～  <input type="text" id="flatpickr" style="width:120px;" name="End_day" value=@ViewBag.date2>
                @if (ViewBag.Check)
                {
                    <input type="checkbox" name="Check" value=true checked>
                }
                else
                {
                    <input type="checkbox" name="Check" value=true>
                }
                未確認のみ
                <input type="text" size="40" name="Word" placeholder=" フリーワード" maxlength="40" value=@ViewBag.freeword>
                <button type="submit" class="search_btn">検 索</button>
            </form>
        </div>
        <partial name="../Shared/_errors.cshtml" />
        <div class="centering">
            <div class="btn_line">
                <a asp-controller="Inqury"
                   asp-action="Export"
                   method="get"
                   asp-route-Start_day=@ViewBag.date1
                   asp-route-End_day=@ViewBag.date2
                   asp-route-Check=@ViewBag.Check
                   asp-route-Word=@ViewBag.freeword
                   asp-route-Excel=true
                   class="dl_e_btn">
                   <img src="../images/download.png" width=18px style="margin-right: 3px;">
                     問合せ表（Excel）
                </a>
                <a asp-controller="Inqury"
                   asp-action="Export"
                   method="get"
                   asp-route-Start_day=@ViewBag.date1
                   asp-route-End_day=@ViewBag.date2
                   asp-route-Check=@ViewBag.Check
                   asp-route-Word=@ViewBag.freeword
                   class="dl_c_btn">
                    <img src="../images/download.png" width=18px style="margin-right: 3px;">
                     問合せ表（CSV）
                </a>
                <a asp-controller="Inqury" asp-action="New" class="new_btn">
                    <img src="../images/new.png" width=18px style="margin-right: 3px;">
                    新規登録
                </a>
            </div>
        </div><br>
        <table class="table table-bordered table-sm table-font table_width">
            <tr class="heading">
                <th style="width:60px;">ID</th>
                <th style="width:110px;">着 信 日 時</th>
                <th style="width:150px">問 合 せ 元</th>
                <th style="width:110px">電 話 番 号</th>
                <th style="width:60px">回 答 者</th>
                <th style="width:300px;">質　問</th>
                <th style="width:40px">確認</th>
                <th style="width:200px">操　作</th>
            </tr>
            @if (Model.Count() >= 1)
            {
                @foreach (var data in Model)
                {
                    <tr class="table_back">
                        <td style="text-align:center;word-wrap:break-word;">@data.Id</td>
                        <td style="text-align:center;">
                            @data.Start_day.ToString("yy/MM/dd")
                            @data.Start_Time.ToString("HH:mm")
                        </td>
                        <td style="text-align:center;word-wrap:break-word;">@data.Company_Name</td>
                        <td style="text-align:center;word-wrap:break-word;">@data.Tel_No</td>
                        <td style="text-align:center;word-wrap:break-word;">@data.User_Name</td>
                        <td style="word-wrap:break-word;">@data.Inqury</td>
                        @if (data.Check_Flag)
                        {
                            <td style="text-align:center;">済</td>
                        }
                        else
                        {
                            <td style="text-align:center;">未</td>
                        }
                        <td style="text-align:center;">
                            <a asp-action="Show" asp-route-id="@data.Id" class="show_btn">詳細</a>
                            <a asp-action="Edit" asp-route-id="@data.Id" class="edit_btn">編集</a>
                            <a asp-action="Copy" asp-route-id="@data.Id"  class="copy_btn">引用</a>
                            <a asp-action="Destory"
                               asp-route-id="@data.Id"
                               class="delete_btn"
                               onclick="return window.confirm('削除してもよろしいですか？');">削除</a>
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="pager">
            @foreach (var item in ViewBag.separate)
            {
                @if (ViewBag.now_page == item)
                {
                    <a asp-controller="Inqury" 
                       asp-asp-action="Index"
                       class="now" 
                       asp-route-Start_day=@ViewBag.date1
                       asp-route-End_day=@ViewBag.date2
                       asp-route-Check=@ViewBag.Check
                       asp-route-Word=@ViewBag.freeword
                       asp-route-now_page=@item 
                       asp-route-search=>@item</a>
                }
                else
                {
                    <a asp-controller="Inqury"
                       asp-asp-action="Index"
                       class="next"
                       asp-route-Start_day=@ViewBag.date1
                       asp-route-End_day=@ViewBag.date2
                       asp-route-Check=@ViewBag.Check
                       asp-route-Word=@ViewBag.freeword
                       asp-route-now_page=@item>@item</a>
                } 
            }
        </div>
    </div>
</div>

