@model IEnumerable<Deborah.Models.Tra_Inqury>

<div class="main_contents">
    <h4 class="page_title">お問合せ一覧</h4>
    <div class="main">
        <div class="btn_line">
            <a asp-controller="Inqury" asp-action="New" class="new_btn">
                <img src="../images/new.png" width=18px style="margin-right: 3px;">
                 新規登録
            </a>
        </div><br>

        <table class="table table-bordered table-sm table-font">
            <tr class="heading">
                <th style="width:100px;">着信日時</th>
                <th style="width:150px">会社名</th>
                <th style="width:110px">電話番号</th>
                <th style="width:70px">回答者</th>
                <th style="width:400px">質問</th>
                <th style="width:40px">確認</th>
                <th style="width:200px">操作</th>
            </tr>
            @foreach (var data in ViewBag.list)
            {
                <tr class="table_back">
                    <td style="text-align:center;">@data.Start_Time.ToString("MM/dd HH:mm")</td>
                    <td>@data.Company_Name</td>
                    <td style="text-align:center;">@data.Tel_No</td>
                    <td style="text-align:center;">@data.User_Name</td>
                    <td>@data.Inqury</td>
                    @if (data.Complate_Flag)
                    {
                        <td style="text-align:center;">済</td>
                    }
                    else
                    {
                        <td style="text-align:center;">未</td>
                    }
                    <td style="text-align:center;">
                        <a asp-action="Show" asp-route-id="@data.Id" class="show_btn">詳細</a>
                        <a asp-action="Update" asp-route-id="@data.Id" class="edit_btn">編集</a>
                        <a asp-action="Update" asp-route-id="@data.Id"  class="copy_btn">引用</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

