@{
    ViewData["date"] = DateTime.Now.ToString("yyyy-MM-dd");
    ViewData["time"] = DateTime.Now.ToString("t");
}
<h4 class="page_title">お問合せ新規登録</h4>
<p>　以下の項目はすべて必須項目となります。</p>
<form method=post>
    <table class="new_form">
        <tr class="new_row">
            <th class="new_title">着信日付</th>
            <td><input type="date" value=@ViewData["date"]></td>
        </tr>
        <tr class="new_row">
            <th class="new_title">着信時間</th>
            <td><input type="time" name="datetime" value=@ViewData["time"]></td>
        </tr>
            <th class="new_title">終了時間</th>
            <td><input type="time" name="datetime"  value=@ViewData["time"]></td>
        </tr>
        <tr class="new_row">
            <th class="new_title">システム</th>
            <td>
                <select name="system">
                    @foreach (KeyValuePair<int, string> sys in ViewBag.system)
                    {
                        <option value=@sys.Key>@sys.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">連絡方法</th>
            <td>
                <select name="communication">
                    @foreach (KeyValuePair<int, string> com in ViewBag.com)
                    {
                        <option value=@com.Key>@com.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">会社名</th>
            <td><input type="text" size=50></td>
        </tr>
        <tr class="new_row">
            <th class="new_title">担当者名</th>
            <td><input type="text" size=50></td>
        </tr>
        <tr class="new_row">
            <th class="new_title">電話番号</th>
            <td><input type="text" size=50></td>
        </tr>
        <tr class="new_row">
            <th class="new_title">回答者</th>
            <td>
                <select name="user">
                    @foreach (KeyValuePair<int, string> user in ViewBag.user)
                    {
                        if (ViewBag.name == @user.Value)
                        {
                            <option value=@user.Key selected>@user.Value</option>
                        }
                        else
                        {
                            <option value=@user.Key>@user.Value</option>
                        }
                    }
                </select>
            </td>
        </tr>

        <tr class="new_row">
            <th class="new_title">お問合せ内容</th>
            <td><textarea rows=3 cols=85></textarea></td>
        </tr>
        <tr class="new_row">
            <th class="new_title">回答内容</th>
            <td><textarea rows=3 cols=85></textarea></td>
        </tr>
        <tr class="new_row">
            <th class="new_title">受注者／発注者</th>
            <td>
                <select name="juhachuu">
                    <option value=false>受注者</option>
                    <option value=true>発注者</option>
                </select>
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">問合せ分類</th>
            <td>
                <select name="type">
                    @foreach (KeyValuePair<int, string> com in ViewBag.type)
                    {
                        <option value=@com.Key>@com.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr class="new_row">
            <th class="new_title">関連お問合せＩＤ</th>
            <td><input type='text' name='Relation_Id' disabled="disabled">　※この項目に入力はできません。</td>
        </tr>
    </table><br>
    <input type='hidden' name='Complate_Flag' value=false>
    <button type="submit" class="submit_btn">
        <img src="../images/touroku.png" width=22px style="margin-right: 3px;">
        登録
    </button>
</button>
</form>
<a asp-controller="Inqury" asp-action="Index" class="bk_btn">
    <img src="../images/back.png" width=22px style="margin-right: 3px;">
        戻る
</a>

