@model Inqury.Models.Show_List;

<h5 class="page_title">お問合せ照会</h5>
<br>

<table class="new_form">
    <tr class="new_row">
        <th class="new_title">確認状態</th>
        <td>
            @if (Model.Complate_Flag)
            {
                <span>確認済み</span>
            }
            else
            {
                <span>未確認</span>
            }
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">着信日付</th>
        <td>
            @Model.Start_day.ToString("yyyy-MM-dd")
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">着信時間</th>
        <td>
            @Model.Start_Time.ToString("t")
        </td>
    </tr>
        <th class="new_title">終了時間</th>
        <td>
            @Model.Fin_Time.ToString("t")
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">システム</th>
        <td>
            @Model.System_Name
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">連絡方法</th>
        <td>
            @Model.Com_Name
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">会社名</th>
        <td>
            @Model.Company_Name
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">担当者名</th>
        <td>
            @Model.Tan_Name
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">電話番号</th>
        <td>
            @Model.Tel_No
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">回答者</th>
        <td>
            @Model.User_Name
        </td>
    </tr>

    <tr class="new_row">
        <th class="new_title">お問合せ内容</th>
        <td>
            @Model.Inqury
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">回答内容</th>
        <td>
            @Model.Answer
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">受注者／発注者</th>
        <td>
            @if (Model.Staff_Flag)
            {
                <span>発注者</span>
            }
            else
            {
                <span>受注者</span>
            }
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">問合せ分類</th>
        <td>
            @Model.Type_Name
        </td>
    </tr>
    <tr class="new_row">
        <th class="new_title">関連お問合せＩＤ</th>
        <td>
            @if (Model.Relation_Id > 0)
            {
                @Model.Relation_Id
            }
            else
            {
                <span>　</span>
            }
        </td>
    </tr>
</table><br>
@if (!@Model.Complate_Flag)
{
    <a asp-controller="Inqury" asp-action="Complate" asp-route-id="@Model.Id" class="submit_btn">
        <img src="../../images/good.png" width=22px style="margin-right: 3px;">
            確認
    </a>
}
<a asp-controller="Inqury" asp-action="Index" class="bk_btn">
    <img src="../../images/back.png" width=22px style="margin-right: 3px;">
        戻る
</a>
